body {
    background-color: black;
    color: #fff;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#mainChar {
    left: 347px;
    top: 20px;
}

/*Dialouge bar*/
#diagBar {
    bottom: 0px;
    left: 0px;
    width: 823px;
    height: 64px;
}

#diagContent {
    position: relative;
}

#mainCharSpeech {
    top: 0px;
    left: 80px;
    bottom: 0px;
}

#brownBar {
    position: absolute;
    background-color: brown;
    height: 36px;
    width: 823px;
}

#funeral1 {
    width: 70px;
    height: 37px;
    left: 702px;
    top: 377px;
}

#grass1 {
    width: 70px;
    height: 45px;
    left: 300px;
    top: 28px;
}

#gameWindow {
    width: 800px;
    height: 608px;
    background-color: red;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

.gameObject{ 
    position: absolute;
    transition: all 1s ease-in-out;
    
}

.foreground {
    z-index: 1000;
}
.speech-bubble {
    background: #fff;
    border-radius: 60px;
    color: black;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    opacity: 1;
    width: 300px;
    transition: all 1s ease-in-out;

}

.character {
    z-index: 100;
}

.background {
    z-index: 0;
}