body {
    background-color: black;
    color: #fff;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#mainTitle {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#mainChar {
    left: 347px;
    top: 20px;
}

#funeral1 {
    width: 70px;
    height: 37px;
    left: 702px;
    top: 377px;
}

#grass1 {
    width: 70px;
    height: 45px;
    left: 300px;
    top: 28px;
}

#gameWindow {
    width: 800px;
    height: 608px;
    background-color: red;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

.gameObject{ 
    position: absolute;
    transition: all 1s ease-in-out;
    background-color: wheat;
}

.foreground {
    z-index: 1000;
}

.character {
    z-index: 100;
}

.background {
    z-index: 0;
}